
table {
    border-spacing: 0;
    margin: 0 auto;
    
}

td, th{
    width: 100px;
}

.light {
    height: 100px;
    width: 100px;
    background-color: #e8d1a7;
}

.dark {
    height: 100px;
    width: 100px;
    background-color: #3e1e0f;
}

.rotated {
    transform: rotate(180deg);
}

img {
    display: block;
    margin: 0 auto;
}